Package: com.nightsnowlin.ultrasound.tw
Conflicts: com.nightsnowlin.ultrasound.tw
Name: Ultrasound 繁化中文包
Version: 1.2.11
Architecture: iphoneos-arm
Description: Ultrasound 繁化中文包 夜雪鈴製作,請先安裝 Ultrasound
Depends: firmware (>=11.0)
Maintainer: NightSnowLin <yenhank0531@gmail.com>
Author: NightSnowLin <yenhank0531@gmail.com>
Section: Localization
